<form class="container card mt-2" action="/book/insert" method="post">
  <fieldset>
    <legend class="form-title">Inserir Livro</legend> <hr>

    <label for="title" class="form-label">Titulo</label>
    <input type="text" class="form-control" placeholder="Insira o titulo do livro" name="title" id="title" required> 

    <label for="pages" class="form-label">Titulo</label>
    <input type="number" class="form-control" placeholder="Insira o numero de paginas" name="pages" id="pages" required> 

    <button type="submit" class="btn btn-primary mt-4">Enviar</button>
  </fieldset>
</form>
